{
  "presets": [
    [
      "env",
      {
        "targets": {
          "browsers": [
            "last 1 Chrome versions"
          ]
        },
        "modules": false,
        "loose": true,
        "useBuiltIns": true
      }
    ],
    "react"
  ],
  "plugins": [
    "babel-plugin-styled-components",
    "transform-class-properties",
    "transform-object-rest-spread",
    "syntax-dynamic-import"
  ]
}
