{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "jest": true
  },
  "extends": [
    "standard",
    "standard-jsx"
  ],
  "plugins": [
    "react"
  ],
  "rules": {
    "quotes": ["error", "single"],
    "no-console": ["error", { "allow": ["warn", "error"] }],
    "no-empty-function": "error",
    "arrow-parens": ["error", "as-needed"],
    "space-before-function-paren": [
      "error",
      "never"
    ],
    "object-curly-spacing": [
      "error",
      "never"
    ],
    "react/sort-comp": [
      "error",
      {
        "order": [
          "static-methods",
          "static-react",
          "everything-else",
          "/^on.+$/",
          "lifecycle",
          "rendering"
        ],
        "groups": {
          "static-react": [
            "displayName",
            "propTypes",
            "defaultProps",
            "contextTypes",
            "childContextTypes",
            "getChildContext",
            "state",
            "constructor"
          ],
          "lifecycle": [
            "componentWillMount",
            "componentDidMount",
            "componentWillReceiveProps",
            "shouldComponentUpdate",
            "componentWillUpdate",
            "componentDidUpdate",
            "componentWillUnmount"
          ],
          "rendering": [
            "/^render.+$/",
            "render"
          ]
        }
      }
    ],
    "react/prop-types": [
      "error"
    ],
    "react/no-unused-prop-types": [
      "error"
    ],
    "react/display-name": [
      "error",
      { "ignoreTranspilerName": true }
    ]
  }
}
